@import url("./base.css");
@import url("./base2.css");
@import url("./base3.css");

.gridbox {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "a b b b b b b b b b" "c c c c c c c c c c";
  height: 90vh;
  width: 100vw;
}

.sidebar {
  grid-area: a;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.sidebar_item {
  color: rgb(0, 183, 255);
  margin: 0.3rem 0;
}

.sidebar_button_1 {
  border: 1px solid rgb(0, 183, 255);
  background-color: rgb(0, 183, 255);
  color: white;
  padding: 0.2rem;
  text-align: center;
  border-radius: 8%;
  font-size: 0.8rem;
  width: 5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.sidebar_button_2 {
  border: 1px solid rgb(0, 183, 255);
  background-color: white;
  color: rgb(0, 183, 255);
  padding: 0.2rem;
  text-align: center;
  border-radius: 8%;
  font-size: 0.8rem;
  width: 5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.content {
  grid-area: b;
}
.content_desc {
  font-size: 1rem;
  margin: 0.3rem;
}

.card_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.card {
  border: 1px solid black;
  margin: 1rem;
  width: 10rem;
  height: 15rem;
  background-color: #fbf9f8;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card_title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.2rem;
  color: rgb(0, 183, 255);
}

.card_content {
  font-size: 0.8rem;
  margin: 0.2rem;
}

.footer {
  grid-area: c;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1rem;
  background-color: #606c76;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
