@import url("./base.css");

body {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: none;
}
.header,
.title {
  width: 75vw;
  padding-left: 0;
  color: rgb(0, 170, 255);
  font-size: 1rem;
}
.title {
  font-size: 2rem;
  color: black;
  font-style: normal;
  margin-bottom: 0.5rem;
}
.content {
  width: 75vw;

  font-size: 1rem;
  position: relative;
}
.auther_img {
  position: absolute;
  font-size: 0.2rem;
  background-color: #606c76;
  border-radius: 50%;
  aspect-ratio: 1/1;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  width: auto;
}
.auther_name {
  margin-left: 1.8rem;
  padding-top: 0.2rem;
  font-size: 0.5rem;
  color: rgb(0, 191, 255);
}
.auther_desc {
  font-size: 0.5rem;
  margin-left: 1.8rem;
  margin-top: 0.2rem;
}

.detail_1 {
  margin: 1rem 0;
}

.detail_2 {
  margin: 1rem 0;
  padding-left: 0.5rem;
  position: relative;
}

.detail_2::before {
  content: "";
  background-color: black;
  width: 2px;
  height: 1rem;
  position: absolute;
  left: 0;
}

.img_area {
  position: absolute;
  width: 80vw;
  margin-left: -2rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  background-color: #d1d1d1;
  align-items: center;
}
.img_title {
  height: 14rem;
  font-size: 5rem;
  color: #606c76;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.power {
  width: 100%;
  text-align: end;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.5rem;
  color: #606c76;
}

.detail_3 {
  margin-top: 22rem;
}
.detail_3 code {
  background-color: #edecec;
}
.detail_4 {
  margin: 1rem 0;
  font-size: 2rem;
  text-align: center;
}

.detail_5 {
  margin: 1rem 0;
}
.detail_5 i {
  font-weight: bold;
  font-style: normal;
  margin: 1rem 0;
}

.code_area {
  position: relative;
  background-color: rgb(198, 229, 248);
  text-align: left;
}
.code_area::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background-color: rgb(120, 136, 197);
  left: 0;
}
ul {
  list-style: circle;
  margin-left: 2rem;
  margin-top: 1rem;
}
.detail_6 {
  margin: 1rem 0;
  font-size: 1.2rem;
}

ol {
  list-style: decimal;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
