@import url("./base.css");

body {
  font-size: 10px;
}
.header {
  margin-top: 3px;
  width: 100%;
  display: flex;
  line-height: 2rem;
  align-items: center;
  justify-content: space-between;
  text-decoration: underline;
}
.header_left {
  color: #606c76;
  margin-left: 1rem;
}
.header_center {
  font-size: 2rem;
  font-family: Georgia;
}
.header_right {
  width: 10rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "a b" "c c";
  height: 100vh;
}
.detail {
  grid-area: a;
  width: 85%;
  height: 60vh;
  margin: 1rem 2rem;
}
.side {
  height: 60vh;
  grid-area: b;
  width: 50%;
}
.footer {
  grid-area: c;
  height: 10vh;
  margin-top: 16vh;
  background-color: #eeecea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail_title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.detail_date {
  font-size: 0.8rem;
  color: #606c76;
}
.detail_1,
.detail_2,
detail_9 {
  margin: 1rem 0;
}
.detail_3,
detail_7,
detal_8 {
  margin: 1rem 0;
  border: 1px solid #606c76;
}
.head_1,
.head_2,
.head_3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

ul,
ol {
  margin: 1rem 2rem;
}

.button_group {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 20px;
}
.button {
  border: 1px solid;
  padding: 0.3rem 0.5rem;
  border-radius: 25px;
}
.pre_post {
  border-color: #098af4;
  color: #098af4;
}
.new_post {
  border-color: #918f8d;
  color: #918f8d;
}
.about {
  background-color: #eeecea;
  width: 10rem;
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 1rem;
}
.about_title {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.about_content {
  font-size: 0.8rem;
}
.archives {
  margin: 1rem 2.5rem;
}
.archives_title {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.elsewhere {
  margin: 1rem 2.5rem;
}
.elsewhere_title {
  font-style: italic;

  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.item {
  color: #098af4;
  font-size: 0.8rem;
  text-decoration: underline;
}
.footer {
  margin-top: 8rem;
}
.foot_content {
  color: #9b9999;
}
.foot_item {
  display: inline;
}
